@tailwind base;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
 @font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
} 
 @font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
} 
 @font-face {
  font-family: "Changa";
  src: url("./assets/fonts/Changa-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
} 


 @font-face {
  font-family: "IBM Plex Sans";
  src: url("./assets/fonts/IBM_PLEX/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
} 

@font-face{
    font-family: "NeoSansArabic";
    src: url("./assets/fonts/neoSansArabic/NeoSansArabic.ttf") ;
  }
html,body,#root {
  margin: 0;
  font-family:"IBM Plex Sans","Changa", 'Roboto',

    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(249, 250, 251);
  color: #77869e;
  height: 100vh;
padding-bottom:64px

}

html body.dark,body.dark #root {
  background-color:  rgb(0 17 55 );
  color: #fff;
  padding-bottom:48px;

}



h1,h2,h3,h4,h5,h6,button {
 margin: 0;
 font-family: "PlusJakartaSans","Changa";
}

h1.landing-title{
font-size:clamp(2.625rem, 1.2857rem + 3.5714vw, 4rem)
}
a{
text-direction: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ol,ul{
  display: block;
  list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

}

centered{
display: flex;
justify-content: center;
align-items: center;
}

